################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/opp_prpr2024-tester/CopilotIndices/0.2.1657.32929
/.vs/opp_prpr2024-tester/FileContentIndex
/.vs/opp_prpr2024-tester/config
/.vs/opp_prpr2024-tester/v17
/.vs
